#audio-control {
    margin-right: 1rem;
    cursor: pointer;
    z-index: 1030;
}

#audio-icon-play,
#audio-icon-pause {
    width: 24px;
    height: 24px;
    fill: white;
    z-index: 1030;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}

header {
    position: relative;
    background: url('masarykFull.jpg') no-repeat center center/cover;
    filter: grayscale(50%);
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.3s ease-out;
    z-index: 1001;
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1002;
}

header * {
    position: relative;
    z-index: 1003;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    z-index: 1010;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f39c12;
}

.header-content {
    text-align: center;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 900;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

header p {
    font-size: 1.5rem;
}

.header-content h1 {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
}

.header-content p {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
}

.header-content h1:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.header-content p:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}


#portfolio h2 {
    margin-top: 5px;
    margin-bottom: 20px;
}

.context {
    padding-bottom: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

section {
    margin: 3rem auto;
    max-width: 80%;
    padding: 3.5rem;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-pic {
    display: block;
    margin: 2rem auto;
    max-width: 200px;
    border-radius: 50%;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    z-index: 1000;
    height: 3.3rem;
    transition: all 0.3s ease-out;
}

.sticky-header nav ul {
    justify-content: flex-end;
}

.sticky-header nav ul li {
    margin: 0 0.5rem;
}

.sticky-header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.sticky-header nav ul li a:hover {
    color: #f39c12;
}

.sticky-header h1 {
    font-size: 1.2rem;
    margin-left: 10px;
    cursor: pointer;
}

.sticky-header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.sticky-header nav ul li {
    margin: 0 1rem;
}

#resume h2, #about h2 {
    margin-top: 5px;
    margin-bottom: 15px;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.no-bullets li {
    margin-bottom: 10px;
}

.portfolio-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.portfolio-text {
    flex: 1;
    padding-right: 1rem;
}

.portfolio-item img {
    max-width: 300px;
    border-radius: 8px 0px 0px 8px;
    margin-right: 20px;
}


#contact {
    margin: 3rem auto;
    max-width: 80%;
    padding: 50px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}

#contact h2 {
    margin-bottom: 1.5rem;
    margin-top: 10px;
    font-size: 1.5rem;
    color: #333;
    text-align: left;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#contactForm label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #555;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

#contactForm input:focus,
#contactForm textarea:focus {
    border-color: #333;
}

#contactForm button {
    margin-top: 1.5rem;
    padding: 0.75rem 2rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start
}

#contactForm button:hover {
    background-color: #555;
}

footer {
    position: relative;
    background: url('footerFull.jpeg') no-repeat center center/cover;
    filter: grayscale(50%);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    z-index: 1;
}

footer p {
    position: relative;
    z-index: 2;
}

footer .footer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}

footer img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    header nav ul {
        flex-direction: row;
        align-items: center;
    }

    header nav ul li {
        margin: 0.3rem;
    }

    .header-content h1 {
        font-size: 2.5rem;
    }

    #audio-control {
        display: none;
    }

    .header-content p {
        font-size: 1.2rem;
    }

    .portfolio-item {
        flex-direction: column;
        text-align: center;
    }

    .portfolio-item img {
        max-width: 100%;
        margin-top: 1rem;
    }

    section {
        max-width: 95%;
        padding: 1.5rem;
    }
}
